$primaryfont 	: 'Work Sans', sans-serif;
$secondaryfont 	: 'Montserrat', sans-serif;

// ================================================================
// Colors
$black 		: #000;
$gray-1000 	: #555;
$gray-900 	: #666;
$gray-800 	: #777;
$gray-700 	: #888;
$gray-600 	: #999;
$gray-500 	: #aaa;
$gray-400 	: #bbb;
$gray-300 	: #ccc;
$gray-200 	: #ddd;
$gray-100 	: #eee;
$white 		: #fff;
$gray-050 	: #f6f6f6; 
$gold 		: #B69E60;

// ===============================================================
// Spacing vars
$indent__base : 20px;
$indent__xxl  : 60px;
$indent__xl   : 40px;
$indent__l    : 30px;
$indent__m    : 15px;
$indent__s    : 10px;
$indent__xs   : 5px;
