.hor-ver-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
}
.squarebox, .semisquarebox, .rectanglebox {
  position: relative;
  overflow: hidden;
}
.squarebox:before, .semisquarebox:before, .rectanglebox:before {
  content: "";
  display: block;
}
.squarebox:before {
  padding-top: 100%;
}
.semisquarebox:before {
  padding-top: 60%;
}
.rectanglebox:before {
  padding-top: 50%;
}
#menu-main-menu > .menu-item > a:after, .breadcrumb a:after {
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cbtn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.cbtn-outlined {
  border: 2px solid transparent;
  background: transparent;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.cbtn-outlined.cbtn-outlined-primary {
  border-color: #b69e60;
  color: #b69e60;
}
.cbtn-outlined.cbtn-outlined-primary:hover {
  background: #b69e60;
  color: #fff;
}
a {
  color: #999;
}
a:hover {
  color: #b69e60;
}
p {
  margin: 0 0 30px;
}
.no-results-page_lbl {
  font-size: 60px;
}
.go_to_top {
  background-color: #555;
  bottom: 30px;
}
.go_to_top .icon-arrow-up {
  background-image: url(https://www.cyrusrugs.com/skin/frontend/cyrus/default/images/ui.totop.png);
  background-repeat: no-repeat;
  background-position: center;
}
.go_to_top .icon-arrow-up:before {
  visibility: hidden;
}
nav.main-menu-w {
  padding: 0;
}
nav.main-menu-w .main-menu .menu-item-has-children .sub-menu {
  background-color: #fff;
}
nav.main-menu-w .main-menu > .menu-item > a {
  padding: 24px 0;
}
nav.main-menu-w .main-menu .sub-menu {
  border-top: 1px solid #b69e60;
}
nav.main-menu-w .main-menu .sub-menu .menu-item a {
  text-transform: none;
  font-weight: normal;
}
.child-search-form-wrapper {
  max-width: 300px;
}
.child-search-form-wrapper input.search-form_it {
  max-width: 200px;
  border: 0;
}
.child-search-form-wrapper button.search-form_button {
  background: transparent;
  color: #000;
  padding: 1.4em 1em;
}
.child-search-form-wrapper span.search-form_button-tx {
  display: none;
}
.posts-pagination__wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.posts-pagination__wrapper .current, .posts-pagination__wrapper a.page-numbers {
  width: 40px;
  padding: 6px 0;
  text-align: center;
  color: #000;
  margin: 0 2px;
}
.posts-pagination__wrapper a.next, .posts-pagination__wrapper a.prev {
  border: 2px solid #b69e60;
  padding: 5px 15px;
  width: auto;
  color: #b69e60;
}
.posts-pagination__wrapper .current {
  background-color: #b69e60;
  color: #fff;
}
.related-posts__heading {
  color: #b69e60;
  text-align: center;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.related-posts__heading:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #b69e60;
  left: calc(50% - 100px);
  top: calc(50% - 1px);
}
.related-posts__heading span {
  padding: 0 10px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.related-posts__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}
.related-posts__item {
  width: calc(100%/3);
}
.related-posts__item .post-title {
  line-height: 28px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.related-posts__item .post-title a {
  color: #555;
  font-size: 22px;
}
.related-posts__item-wrap {
  margin: 0 15px;
  border: 1px solid #e6e6e6;
  height: 100%;
  padding-bottom: 10px;
}
.related-posts__item-info {
  padding: 5px 20px;
  margin-top: -8px;
}
.related-posts__item-category {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.7142857143em;
  color: #999;
  margin-top: 5px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;
  flex: 1 1 100%;
}
.related-posts__item-action {
  margin-top: 20px;
}
.related-posts__item-action .cbtn {
  padding: 6px 18px !important;
}
.main-h-bottom-w {
  padding-top: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.logo-w {
  padding-bottom: 0;
}
.logo {
  max-height: 95px;
  margin: 0 auto;
}
.main-h-bottom.__fixed .logo-w img {
  margin: 0;
}
header .main-h-bottom-w {
  height: auto;
  padding-bottom: 0;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods:before, header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods:after {
  position: absolute;
  height: 1px;
  background: #ddd;
  top: 0;
  width: 100vw;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods:before {
  left: 50%;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods:after {
  right: 50%;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods .mods-w {
  order: 2;
}
header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods .main-menu-w {
  order: 1;
}
header #menu-main-menu > .menu-item.menu-item-has-children a {
  padding-right: 17px;
}
header #menu-main-menu > .menu-item.menu-item-has-children a:after {
  content: "\f107";
  left: auto;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin: -6px 0 0 0;
}
header #menu-main-menu > .menu-item .menu-item a {
  padding-right: 0;
}
header #menu-main-menu > .menu-item .menu-item a:after {
  display: none;
}
footer.main-f .main-f-top {
  padding-bottom: 75px;
  padding-top: 75px;
  background: #fbfbfb;
  border-top: 1px solid #ddd;
}
footer.main-f .main-f-top h6, footer.main-f .main-f-top a, footer.main-f .main-f-top .fa {
  color: #000;
}
footer.main-f .main-f-top a {
  font-family: 'Work Sans', sans-serif;
}
footer.main-f .textwidget li {
  font-size: 12px;
}
footer.main-f .textwidget li:first-child {
  margin-top: 0;
}
footer.main-f .textwidget li:last-child {
  margin-bottom: 0;
}
footer.main-f ul.social li {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 18px;
}
footer.main-f ul.social li i {
  margin: 0;
}
footer.main-f .main-f-bottom {
  border-top: 1px solid #ddd;
}
.post-grid {
  border: 1px solid #eee;
}
.post-grid .post-grid_img-w {
  height: 220px;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-position: cover;
  background-position: center center;
}
.post-grid .post-grid_desc-w {
  padding-top: 0;
  padding-bottom: 100px;
  position: static;
}
.post-grid .post-grid_desc-w header h3 {
  line-height: 28px;
  margin-bottom: 5px;
}
.post-grid .post-grid_desc-w header h3 a {
  color: #555;
}
.post-grid .post-grid_date {
  color: #000;
  opacity: 1;
}
.post-grid .post-grid_category {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  font-size: 16px;
}
.post-grid .post-grid_category a {
  color: #999;
}
.post-grid .post-grid_category a:hover {
  color: #b69e60;
}
.post-grid .post-grid_meta {
  line-height: normal;
  border: 0;
  padding: 0 0 30px;
}
.post-grid .cbtn {
  padding-top: 15px;
  padding-bottom: 15px;
}
#main-content {
  background: #fff;
}
.search-form-popup-w .search-form {
  background-color: rgba(0, 0, 0, .75);
}
.search-el {
  border: 1px solid #eee;
}
.breadcrumb {
  background: #fff;
  font-size: 13px;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  text-transform: none;
}
.breadcrumb span.bcrumbs-separator {
  display: none;
}
.breadcrumb a {
  margin-right: 8px;
}
.breadcrumb a:after {
  content: "\f105";
  color: #000;
  margin-left: 15px;
}
.post-single-w .post-single-cnt h1 {
  line-height: 42px;
  margin-bottom: 15px;
}
.post-single-w .post-single-cnt .postedon {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}
.sidebar .execphpwidget h5 {
  line-height: 26px;
  margin-bottom: 20px;
}
.sidebar .execphpwidget h5 a {
  color: #000;
}
.sidebar .execphpwidget h5 a:hover {
  color: #b69e60;
}
.sidebar .execphpwidget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .execphpwidget li {
  padding: 7px 0;
  line-height: 20px;
}
.sidebar .execphpwidget li:first-child {
  padding-top: 0;
}
.sidebar .execphpwidget li:last-child {
  padding-bottom: 0;
}
.add-menu .menu-item:hover > a, .main-menu .menu-item:hover > a {
  color: black !important;
}
.add-menu a:after, .main-menu a:after {
  display: none !important;
}
.main-menu .sub-menu {
  background-color: white;
}
.main-menu .sub-menu .menu-item:hover > a {
  color: black;
  opacity: 1;
}
.main-menu .sub-menu a {
  color: black;
  opacity: 1;
}
.main-f-top .widget a:hover {
  color: black;
}
.main-f-top .widget_h {
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
}
.main-h-bottom:not(.__fixed) .logo-w { padding-bottom:10px }
/* ------------------------- single blog css ----------------------------------- */
.single-post .t-w.js--t-w.__full-height.__parallax .t-w_title {
  position: relative; /* or absolute */
  z-index: 10; /* Adjust as needed */
  text-align: center;
  top: 50%; /* Adjusts vertical position */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -50%); /* Centers text vertically and horizontally */
  /* Additional styling */
}
.single-post .t-w.js--t-w.__full-height.__parallax .t-w_title h1 {
  font-size: 46px;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 400;
}
/* ------------------------- single blog css ----------------------------------- */
.mobile-category-carousel{
  position: relative;
}
#blogs-category .category-thumbs {
  width: 40%;
}
#blogs-category .category-content {
  width: 60%;
}
#blogs-category .category-thumbs img {
  height: 103px ;
  object-fit: cover;
}
#blogs-category  .date {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
.owl-carousel.mobile-category-carousel .item {
  display: flex;
  flex-wrap: wrap;
}
.owl-carousel.mobile-category-carousel button.owl-dot.active {
  background: #767676 !important;
}
.owl-carousel.mobile-category-carousel .post a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.owl-carousel.mobile-category-carousel button.owl-dot {
  background: #C8C8C8 !important;
}
.owl-carousel.mobile-category-carousel .owl-dots {
  display: block !important;
}
.owl-carousel.mobile-category-carousel .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #000; /* Change this to your desired color */
  border-radius: 50%;
}
.mobile-category-carousel .post-left {
  flex-shrink: 0;
  margin-right: 20px;
}

.mobile-category-carousel .post-left img {
  max-width: 100px;
  height: auto;
}

.mobile-category-carousel .post-right {
  flex: 1;
}

.mobile-category-carousel .post-right h3 {
  margin: 0;
}

.mobile-category-carousel .post-date {
  color: #888;
  font-size: 0.9em;
}
.mobile-category-carousel h3 {
  font-size: 14px;
}
.mobile-category-carousel span {
  font-size: 3rem;
  color: #B69E60;
}
.mobile-category-carousel .owl-nav {
  position: relative;
}
.mobile-category-carousel button.owl-next {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mobile-category-carousel button.owl-prev {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mobile-category-carousel  button.owl-prev , .mobile-category-carousel button.owl-next{
  background :transparent;
  margin:0;
  padding:0;
}
/* Hide mobile view on desktop */
.mobile-view {
  display: none !important;
}

/* Show mobile view and hide desktop view on mobile devices */
@media (max-width: 767px) {
  .desktop-view {
      display: none;
  }
  .mobile-view {
      display: block !important;
  }
  .mobile-category-carousel .owl-dots {
    position: absolute !important;
    bottom: 5px;
    text-align: center;
    width: 100%;
}
div#execphp-2 {
  border: unset;
}
.mobile-category-carousel button.owl-dot {
  zoom: 2; /* Consider using other scaling methods if needed */
  margin-right: 1.2rem !important;
  margin-left: 0 !important;
}
.sidebar .execphpwidget h5, .sidebar .execphpwidget h5 a {
  font-size: 32px;
  line-height: 43px;
  font-weight: 400;
  color: #B69E60;
}
.mobile-category-carousel button.owl-dot:last-child {
  margin-right: 0 !important; /* Remove margin for the last dot */
}
}
/* ------------------------- end single blog css ----------------------------------- */
@media (max-width:1199px) {
	.main-h-bottom .mods-w { width:100% }
	header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods { border-top:1px solid #eee }
	.main-h-bottom .mods_el.__separator { display:none }
	header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods,
	.main-h-bottom .mods { position:static }
	div.main-h-bottom .mods_el {
		position:absolute;
		top:40px;
		right:15px;
	}
	.child-search-form-wrapper { max-width:unset; width:100%; }
	.child-search-form-wrapper input.search-form_it { max-width:unset; width:calc(100% - 40px)}
	.child-search-form-wrapper form {
		display:flex;
		justify-content:space-between
	}
}

@media (max-width:767px) {
	.main-h-bottom-cnt {
		display:flex;
		flex-direction:column
	}
	header .main-h-bottom:not(.__fixed).__layout3 .main-h-bottom_menu-and-mods { margin:0 -15px }
	.main-h-bottom-cnt .logo-w {
		width:146px!important;
		max-width:unset!important
	}
	div.main-h-bottom .mods_el {
		top:18px;
	}
}

@media (min-width:768px) and (max-width:1199px) {
	div.main-h-bottom.__fixed .logo-w.__dark { margin-right:0 }
	div.main-h-bottom.__fixed .mods_el { top:10px }
	div.main-h-bottom.__fixed .mods { margin-right:17px }
}

@media (min-width:1200px) {
	ul.main-menu { margin:0 -10px }
	ul.main-menu .menu-item { margin:0; padding:0 10px }
}
@media (min-width:1320px) {
	ul.main-menu { margin:0 -20px }
	ul.main-menu .menu-item { padding:0 20px }
}